<section class="home-section">
    <div class="holder">
        <h1>IQmetrics <span>Solutions</span></h1>
        <h2>Reinventing the present to Invent the Future...</h2>
    </div>
    <owl-carousel-o [options]="customOptions">
        <ng-container>
            <ng-template carouselSlide>
                <div class=" one">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="two">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="three">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="four">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="five">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="six">
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>