<section class="consultancy">
    <app-navbar-for-consultancy></app-navbar-for-consultancy>
    <div class="holder">
        <h1>HR <span>consultancy</span></h1>
        <h2>Pragmatic, professional, progressive HR services</h2>
    </div>
    <div class="container about">
        <div class="row">
            <div class="col-md-12">
                <p>IQmetrics Solution is a boutique, retained, executive search firm. Dedicated to excellence and
                    timeliness of results, we employ a proven methodology in the execution of engagements for top
                    executive hires and rare functional specialists. Our mission is to not be all things to all people,
                    but to be experts focused on recruiting senior management talent for emerging, rapidly growing or
                    rapidly changing companies. We are at our finest(1) finding strategic, difficult-to-locate-and
                    entice individuals for those situations when cultural and chemistry fit are key to the executive’s
                    success and (2) helping to staff the core executive management teams. Working primarily with
                    emerging, venture-funded, or companies that are rapidly growing or changing, we specialize in the
                    identification and attraction of entrepreneurial talent for executive teams. Our clients value our
                    approach of project immersion and direct development of strong client relationships. Understanding
                    our client at a deep level allows us to respond to each search with accuracy, creativity,
                    thoroughness and attention to detail.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="slogan">
                    <hr>
                    <h1>OUR <span>SLOGAN</span></h1>
                    <hr>
                    <p>“ We look forward to a rewarding
                        Partnership with you ”
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mission">
                    <hr>
                    <h1>OUR <span>MISSION</span></h1>
                    <hr id="secondline">
                    <p>Serve with integrity and sincerity, giving value to our clients wishes. Serve our clients with
                        high quality consultancy service to address their business issues. Seek and retain persons with
                        quality perspective for their unique skills and contributions.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="vission">
                    <hr>
                    <h1>OUR <span>VISION</span></h1>
                    <hr id="secondline">
                    <p>To provide a wide range of quality service solutions for companies to do easy business. To
                        explore and discover potential people skills to accelerate their career growth by working with
                        the local & global community.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="what_we_do">
                <hr>
                <h1>WHAT<span> WE DO</span></h1>
                <hr id="secondline">
                <div class="card_holder">
                    <div class="card one">
                        <fa-icon [icon]="faUserTie"></fa-icon>
                        <h4>Business Consulting</h4>
                    </div>
                    <div class="card one">
                        <fa-icon [icon]="faUsersCog"></fa-icon>
                        <h4>Admission & Career Guidance</h4>
                    </div>
                    <div class="card one">
                        <fa-icon [icon]="faHeadset"></fa-icon>
                        <h4>Placement Services for BPO/Call Centre</h4>
                    </div>
                    <div class="card one">
                        <fa-icon [icon]="faBusinessTime"></fa-icon>
                        <h4>Recruitment & IT Placement Services</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="delivery">
                    <hr>
                    <h1>WHAT WE <span>DELIVER</span></h1>
                    <hr id="secondline">
                </div>
                <div class="deliver_body">
                    <h4>We deliver the following benefits to our clients:</h4>
                    <ul>
                        <li>
                            IQmetrics <span>Solution</span> is your partner for the duration of the project and a
                            stakeholder in
                            achieving a successful Outcome to your search project.
                        </li>
                        <li>
                            IQmetrics <span>Solution</span> will conduct on your behalf, a thorough and honest search;
                            recruiting
                            until your search is completed.
                        </li>
                        <li>
                            We make an extraordinary effort to understand your business circumstances and needs at a
                            deep level.
                        </li>
                        <li>
                            IQmetrics <span>Solution</span> helps you to mitigate the executive selection process risk
                            by.
                        </li>
                        <li>
                            Clarifying and continually refining with you, the qualifications required for success in a
                            position.

                        </li>
                        <li>
                            Identifying, assessing, attracting and presenting a panel of highly qualified candidates.
                        </li>
                        <li>
                            Thorough candidate screening.
                        </li>
                        <li>
                            3+ hours of behavioral interviews with each finalist candidate.
                        </li>
                        <li>
                            Behavioral Preference and Values profiling.
                        </li>
                        <li>In-depth and thorough reference checking.</li>
                        <li>IQmetrics <span>Solution</span> is flexible, responsive, and shares your sense of urgency.
                        </li>
                        <li>IQmetrics <span>Solution</span> advises you during and after the search. We challenge your
                            thinking, push
                            you out of your comfort zone, provide marketplace information and perceptions of your
                            organization. </li>
                        <li>We manage candidate expectations during the negotiations process and on-boarding process
                            representing client and candidate interests</li>
                    </ul>

                    <p>IQmetrics <span>Solution</span> guarantees its work for one year. We will conduct the same search
                        again,
                        charging expenses only, if the executive is invited to leave because of performance or resigns
                        for a new opportunity. Conditions under which this guarantee will not be applicable are a
                        position or responsibility modification, including: role or assignment change because of
                        reorganization, acquisition, merger, change of management, ownership or business direction; or
                        an unexpected change of location.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="methodology">
                    <hr>
                    <h1>OUR <span>METHODOLOGY</span></h1>
                    <hr id="secondline">
                </div>
                <div class="method_body">
                    <h4>We strive to be your trusted advisor and understand your organization at a deep level. </h4>
                    <h5><b>Understand Clients Needs:</b></h5>
                    <p>We interview the client team responsible for candidate selection. Our goal is to craft an
                        accurate position specification and facilitate team “buy-in” of the process.
                    </p>
                    <h5><b>We identify:
                        </b></h5>
                    <p>Unique organizational attributes, strategic goals, management style, corporate culture and Values
                        of the client organization
                        <br>Desired candidate qualifications, competencies, behavioral attributes and leadership style
                        critical to the success of the position in question A position description (PD) is created. The
                        PD provides a review of the business and professional context of the client situation. It also
                        summarizes the background and qualifications of the ideal candidate.
                    </p>
                    <h5><b>Candidate Identification:</b></h5>
                    <p>With the position description (PD) in mind, we develop the “target company list”, which is a
                        definitive list of the specific organizations in which our successful candidate is most likely
                        working. This process of “searching” for individuals from targeted companies is comprehensive
                        and time-intensive, and a IQmetrics <span>Solution</span> strength. Our extensive database of
                        contacts is
                        readily accessible and continually updated.
                        <br>A pool of 15 to 20 candidates are identified. This initial group is narrowed to seven to
                        nine executives who are interviewed by IQmetrics <span>Solution</span>. The final group of three
                        to five
                        candidates is presented to the client for consideration.
                    </p>
                    <h5><b>Interviewing the Prospects and Introducing the candidates
                            :</b></h5>
                    <p>We interview all selected prospects in three to four hour face-to-face meetings. This stringent
                        interview process ensures the best possible fit of candidates to our client’s organizations.
                        <br>In advance of the client’s first meeting with each candidate, we provide the client with a
                        detailed candidate dossier including the individual’s strengths, weaknesses, current career
                        situation, pertinent background data and client-specific behaviorally based interview guides, if
                        requested.
                        <br>This preparation phase is critical in the search process. It is at this juncture where we
                        begin to incorporate all of the elements: business background, technical expertise, industry
                        presence, chemistry and cultural fit.
                    </p>

                    <h5><b>Psychological Profiling and Reference Checking:</b></h5>
                    <p>IQmetrics Solution processes behavioral and values profiles on qualified finalist candidates.
                        These profiles identify the candidate’s preferred behavioral style and also his/or her likely
                        behavior under stress. These profiles are then used as a tool to highlight a candidate’s
                        behavioral attributes and qualities, as well as self-awareness and character. In addition, the
                        reports identify strengths and areas for growth and development of the prospective executive.
                        <br>A final reports assembled for the successful candidate that combines the results from the
                        behavioral and values profiles, and reference checks. Using this report, we are able to assist
                        the client in developing an effective transition and career development strategy for the new
                        executive.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="project">
                    <hr>
                    <h1>PROJECT <span>WORKFLOW</span></h1>
                    <hr id="secondline">
                </div>
                <div class="project_body">
                    <div class="card cardcommon">
                        <fa-icon [icon]="faUserTie"></fa-icon>
                        <h6>JOB ORDER</h6>
                    </div>
                    <fa-icon id="arrow" [icon]="faHandPointRight"></fa-icon>
                    <div class="card cardcommon">
                        <fa-icon [icon]="faPoll"></fa-icon>
                        <h6>IDENTIFYING CANDIDATE</h6>
                    </div>
                    <fa-icon id="arrow" [icon]="faHandPointRight"></fa-icon>
                    <div class="card cardcommon">
                        <fa-icon [icon]="faUserFriends"></fa-icon>
                        <h6>INTERVIEW</h6>
                    </div>
                    <fa-icon id="arrow" [icon]="faHandPointRight"></fa-icon>
                    <div class="card cardcommon">
                        <fa-icon [icon]="faFilePowerpoint"></fa-icon>
                        <h6>CV PRESENTATION FOR CLIENTS</h6>
                    </div>
                    <fa-icon id="arrow" [icon]="faHandPointRight"></fa-icon>
                    <div class="card cardcommon">
                        <fa-icon [icon]="faFeather"></fa-icon>
                        <h6>INTERVIEW PREPARATION</h6>
                    </div>
                    <fa-icon id="arrow" [icon]="faHandPointDown"></fa-icon>

                    <fa-icon id="arrow" class="leftone" [icon]="faHandPointLeft"></fa-icon>
                    <div class="card rightflowtwo cardcommon">
                        <fa-icon [icon]="faSearch"></fa-icon>
                        <h6>SALARY NEGOTIATION</h6>
                    </div>
                    <fa-icon id="arrow" class="leftwo" [icon]="faHandPointLeft"></fa-icon>
                    <div class="card rightflowthree cardcommon">
                        <fa-icon [icon]="faPen"></fa-icon>
                        <h6>SIGNING OF CONTRACT</h6>
                    </div>
                    <div class="card rightflowfour cardcommon">
                        <fa-icon [icon]="faTruckLoading"></fa-icon>
                        <h6>DELIVERY</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 faqs">
                <div class="faq">
                    <hr>
                    <h1><span>FAQ’S</span></h1>
                    <hr id="secondline">
                </div>
                <mat-accordion multi="true">
                    <mat-expansion-panel id="expansionpanel" *ngFor="let faq of faqs">
                        <mat-expansion-panel-header>
                            <h1>{{ faq.ques }}</h1>
                        </mat-expansion-panel-header>
                        <p>{{ faq.ans }}</p>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>
    </div>
    <app-clients></app-clients>
    <app-footer></app-footer>
</section>