<section id="mission__vision__passion">
  <div class="container paddings">
    <div class="row">
      <div class="col-lg-6 col-md-6 main">
        <h1>VISIO<span>N</span></h1>
        <mat-card class="card one">
          <img src="../../assets/img/visionTwo.jpg" />
          <div class="text">
            <p>
              To captivate and nurture ideas & technologies by being the
              catalyst thereby fulfilling the dreams and aspirations of our
              stakeholders in realizing their true potential in accordance with
              our highest professional standards.
            </p>
          </div>
          <div class="overlay"></div>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 main">
        <h1>MISSIO<span>N</span></h1>
        <mat-card class="card">
          <img src="../../assets/img/missionOne.jpg" />
          <div class="text">
            <p>
              Our mission is to provide superior technical solutions by
              innovations and inspire to build industry skills by education
              thereby creating a better every day life.
            </p>
          </div>
          <div class="overlay"></div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container" style="overflow: hidden">
    <div class="col-lg-12 col-lg-12 main">
      <h1 id="values">OUR <span>VALUES</span></h1>

      <div class="event-holder">
        <owl-carousel-o [options]="customOptions">
          <ng-container>
            <ng-template carouselSlide>
              <mat-card class="card__values">
                <img src="../../assets/img/valueOne.jpg" />
                <div class="text__value">
                  <h2>customer commitments</h2>
                  <div class="icon-holder">
                    <img src="../../assets/img/commitent.png" />
                  </div>
                  <p>
                    We nourish, develop & grow relationships that makes a
                    positive difference in the lives of our customers. We
                    carefully nurture, develop and build lasting relationships
                    that will indeed make a positive difference in the lives of
                    our customers
                  </p>
                </div>
                <div class="overlay"></div>
              </mat-card>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <mat-card class="card__values">
                <img src="../../assets/img/quality.jpg" />
                <div class="text__value">
                  <h2>Quality</h2>
                  <div class="icon-holder">
                    <img src="../../assets/img/quality.png" />
                  </div>
                  <p>
                    We are committed to provide outstanding products and
                    unsurpassed service that, together, deliver premium value to
                    our customers. We are committed to delivering outstanding
                    products and unrivalled service that will together provide
                    our customers with premium grade values
                  </p>
                </div>
                <div class="overlay"></div>
              </mat-card>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <mat-card class="card__values">
                <img src="../../assets/img/integrity.jpg" />
                <div class="text__value">
                  <h2>Integrity</h2>
                  <div class="icon-holder">
                    <img src="../../assets/img/integrity.png" />
                  </div>
                  <p>
                    We are bound to uphold the highest standards of integrity in
                    all of our actions. In all of our acts, we are obliged to
                    follow the highest standards of honesty.
                  </p>
                </div>
                <div class="overlay"></div>
              </mat-card>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <mat-card class="card__values">
                <img src="../../assets/img/teamwork.jpg" />
                <div class="text__value">
                  <h2>Team work</h2>
                  <div class="icon-holder">
                    <img src="../../assets/img/teamwork.png" />
                  </div>
                  <p>
                    We work together, across boundaries, to meet the needs of
                    our customers and to help the company win. We work together
                    across borders to meet our customers' needs and expectations
                    thereby help them to win the market.
                  </p>
                </div>
                <div class="overlay"></div>
              </mat-card>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <mat-card class="card__values">
                <img src="../../assets/img/respect.jpg" />
                <div class="text__value">
                  <h2>Respect for People</h2>
                  <div class="icon-holder">
                    <img src="../../assets/img/respect.png" />
                  </div>
                  <p>
                    We value our people, encourage their development and reward
                    their performance. We respect our people, promote their
                    growth and make sure to reward them on their success.
                  </p>
                </div>
                <div class="overlay"></div>
              </mat-card>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <mat-card class="card__values">
                <img src="../../assets/img/willtowin.jpg" />
                <div class="text__value">
                  <h2>A will to win</h2>
                  <div class="icon-holder">
                    <img src="../../assets/img/brain.png" />
                  </div>
                  <p>
                    We exhibit a strong will to win in the marketplace and in
                    every aspect of our business. In the marketplace and in
                    every area/facet of our business, we show a definitive &
                    strong will to win.
                  </p>
                </div>
                <div class="overlay"></div>
              </mat-card>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <mat-card class="card__values">
                <img src="../../assets/img/visionTwo.jpg" />
                <div class="text__value">
                  <h2>Personal Accountability</h2>
                  <div class="icon-holder">
                    <img src="../../assets/img/accountability.png" />
                  </div>
                  <p>
                    We are personally accountable for delivering on our
                    commitments. We are bound to take personal responsibility
                    for delivering on all of our undertakings.
                  </p>
                </div>
                <div class="overlay"></div>
              </mat-card>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>