<section id="about__us">
  <div class="main-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 wrapperr">
          <div class="col-md-5 col-sm-12 heading">
            <h1>ABOUT <span>US</span></h1>
          </div>
          <div class="col-md-7 col-sm-12 left">
            <p>
              Welcome to iQmetrics Solutions Pvt Ltd, your number one source for
              embedded product development and support, proof of concept, Business
              Process Outsourcing and Skill development Programs. We're dedicated to
              providing you the very best means of realisation of your idea using
              innovative approach, embedded product developments and design,
              information technology enabled services, emerging skill development
              programs with an emphasis on customer commitment, quality of service,
              professional ethics and integrity.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 right">
          <p>
            Registered under The Indian Companies Act 2013 in 2020 by Mr. Padma
            Prasad and Mr. Ajay Prinston Pinto, IQmetrics Solutions Pvt Ltd has come
            a long way from its beginnings in Moodabidri Karnataka. When Mr. Padma
            Prasad and Mr. Ajay Prinston Pinto first started out, their passion for generating employments in the
            rural parts of the country and keep up the
            make in India with upgrading skill sets in younger minds drove them to start their own busi upgrading skill
            sets in younger minds drove them to
            start their own business. Founders are having vast experience in
            academics and innovative activities, having recognized by several
            indexed publications and innovative projects for National Level Events,
            also served as Technical Programme Committee Member for several
            International Conferences and delivered Invited Talks.
          </p>
          <p>
            We hope you enjoy our products and services as much as we enjoy offering
            them to you. If you have any questions or comments, please don' t
            hesitate to contact us.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>