<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="client-heading">
                    <hr>
                    <h1>OUR <span>CLIENTS</span></h1>
                    <hr>
                </div>
                <owl-carousel-o [options]="customOptions">
                    <ng-container>
                        <ng-template carouselSlide>
                            <div class="client">
                                <img src="../../assets/img/olx.png" class="img-responsive" alt="client">
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container>
                        <ng-template carouselSlide>
                            <div class="client">
                                <img src="../../assets/img/hgs_logo.png" class="img-responsive" alt="client">
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container>
                        <ng-template carouselSlide>
                            <div class="client">
                                <img src="../../assets/img/assureedge_logo.png" class="img-responsive" alt="client">
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container>
                        <ng-template carouselSlide>
                            <div class="client">
                                <img src="../../assets/img/indianmoney.png" class="img-responsive" alt="client">
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container>
                        <ng-template carouselSlide>
                            <div class="client">
                                <img src="../../assets/img/torniek_technology.png" class="img-responsive" alt="client">
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container>
                        <ng-template carouselSlide>
                            <div class="client">
                                <img src="../../assets/img/Teleperformancelogo.png" class="img-responsive" alt="client">
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>