section{
    height: 12vh;
    background-color: black;
}
.main{
    position: absolute;
    margin-top: 100px;
    width: 100%;
}
.main h1{
    font-size: 40px;
    letter-spacing: 4px;
    color: black;
    margin-bottom: 40px;
    font-weight: 900;
    margin-left: 45px;
}
.main h1 span {
    color: #f1a208;
    font-weight: 900;
    font-size: 42px;
}
input{
    width: 100%;
    outline: none;
    border: none;
}
table{
    width: 90%;
    margin: 0 auto;
}

