<section>

    <app-navbar></app-navbar>


<div class="main">
    <h1>User<span>S</span></h1>

<table class="table table-border">
    <thead>
        <tr>
            <th>User id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <!-- <td>{{user.userId}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td><a>Edit</a>&nbsp;/&nbsp;<a>Delete</a></td> -->
                <td><input type="text" name="id" value="{{user.userId}}"></td>
                <td><input type="text" name="name" value="{{user.name}}"></td>

                <td><input type="email" name="email" value="{{user.email}}"></td>
                <td><input type="text" name="role" value="{{user.role}}"></td>

                <td><a mat-button color="primary" (click)="onSave(user.userId, user.name)">save</a>&nbsp;/&nbsp;<a mat-button color="warn">Delete</a></td>


            </tr>
        </tbody>
    
</table>
</div>
</section>
