<section id="pastEvents">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="wrapper">
                <div class="evntHeading">
                    <h1>Upcoming <span id="span">Programs</span></h1>
                    <hr>
                 </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="event-holder">
                    <owl-carousel-o [options]="customOptions">
                      <ng-template carouselSlide>
                          <mat-card>
                              <div class="imageHolder">
                                <img src="../../../assets/img/event2.jpg">
                              </div>
                              <div class="overlay"></div>
                                 <div class="text-holder">
                                   <div class="headings">
                                      <h1>Angular - NodeJS</h1>
                                      <span>Full Stack Development</span>
                                      <span id="author">by Pramod -> View profile</span>
                                      <hr>
                                   </div>
                                    <div class="program-details">
                                      <p>Duration : 1 month</p>
                                      <p>Starts from : 1-10-2020</p>
                                      <p>Time : 11:00 AM</p>
                                    </div>
                                     
                                 </div>
                                 <p id="viewmore">View More -></p>
                               
                          </mat-card>
                          
                      </ng-template>  
                      <ng-template carouselSlide>
                        <mat-card>
                            <div class="imageHolder">
                              <img src="../../../assets/img/event3.jpg">
                            </div>
                            <div class="overlay"></div>
                            <div class="text-holder">
                              <div class="headings">
                                 <h1>NodeJS - MongoDB</h1>
                                 <span>Complete advanced level</span>
                                 <span id="author">by Pramod -> View profile</span>
                                 <hr>
                              </div>
                               <div class="program-details">
                                 <p>Duration : 1 month</p>
                                 <p>Starts from : 1-10-2020</p>
                                 <p>Time : 11:00 AM</p>
                               </div>
                                
                            </div>
                            <p id="viewmore">View More -></p>
                        </mat-card>
                      </ng-template>  
                      <ng-template carouselSlide>
                        <mat-card>
                            <div class="imageHolder">
                              <img src="../../../assets/img/event4.jpg">
                            </div>
                             <div class="overlay"></div>
                            <div class="text-holder">
                              <div class="headings">
                                 <h1>NodeJS - MongoDB</h1>
                                 <span>Complete advanced level</span>
                                 <span id="author">by Pramod -> View profile</span>
                                 <hr>
                              </div>
                               <div class="program-details">
                                 <p>Duration : 1 month</p>
                                 <p>Starts from : 1-10-2020</p>
                                 <p>Time : 11:00 AM</p>
                               </div>
                                
                            </div>
                            <p id="viewmore">View More -></p>
                        </mat-card>
                      </ng-template>  
                      <ng-template carouselSlide>
                        <mat-card>
                            <div class="imageHolder">
                              <img src="../../../assets/img/backg2.jpg">
                            </div>
                               <div class="text-holder">
                                   <h1>Heading</h1>
                                   <p>This is just a sentence which will be dynamic later</p>
                               </div>
                        </mat-card>
                      </ng-template>  
                      <ng-template carouselSlide>
                        <mat-card>
                            <div class="imageHolder">
                              <img src="../../../assets/img/backg2.jpg">
                            </div>
                               <div class="text-holder">
                                   <h1>Heading</h1>
                                   <p>This is just a sentence which will be dynamic later</p>
                               </div>
                        </mat-card>
                      </ng-template>  
                      <ng-template carouselSlide>
                        <mat-card>
                            <div class="imageHolder">
                              <img src="../../../assets/img/backg2.jpg">
                            </div>
                               <div class="text-holder">
                                   <h1>Heading</h1>
                                   <p>This is just a sentence which will be dynamic later</p>
                               </div>
                        </mat-card>
                      </ng-template>
                      <ng-template carouselSlide>
                        <mat-card>
                            <div class="imageHolder">
                              <img src="../../../assets/img/backg2.jpg">
                            </div>
                               <div class="text-holder">
                                   <h1>Heading</h1>
                                   <p>This is just a sentence which will be dynamic later</p>
                               </div>
                        </mat-card>
                      </ng-template>
                      <ng-template carouselSlide>
                        <mat-card>
                            <div class="imageHolder">
                              <img src="../../../assets/img/backg2.jpg">
                            </div>
                               <div class="text-holder">
                                   <h1>Heading</h1>
                                   <p>This is just a sentence which will be dynamic later</p>
                               </div>
                        </mat-card>
                      </ng-template>
                    </owl-carousel-o>
                  
                </div>
            </div>
        </div>
    </div>
</section>