<section id="eeventPages">
  <app-navbar-for-pages></app-navbar-for-pages>

  <div class="jumbotron jumbotron-fluid image">
    <div class="container parallax">
      <h1 class="headings">Computer Vision, Machine and Deep Learning</h1>
      <p>Duration: 4 Weeks</p>
      <p>Mode : Online</p>
      <p>
        Rating :
        <a (click)="showFeedback()"
          ><fa-icon [icon]="faCoffee"></fa-icon>
          <fa-icon [icon]="faCoffee"></fa-icon>
          <fa-icon [icon]="faCoffee"></fa-icon>
          <fa-icon [icon]="faCoffee"></fa-icon>
          <fa-icon [icon]="faHalfStar"></fa-icon
        ></a>
        <span style="font-size: 8px">(18)</span>
      </p>
    </div>
  </div>
  <mat-card class="body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="holder">
            <h2>Objective</h2>
            <div class="inner_padding">
              <p>
                Objective of this course to help developers, researchers, and
                students just like yourself become experts in machine learning
                and deep learning. We will be teaching the Python programming
                language for all the examples. Tensorflow, OpenCV, Keras,
                Scikit-Learn, Numpy, Pandas, Matplot and etc. We will use Goolge
                Colab platform for hands on training of deep learning models.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="holder">
                <h2>Outcome of the course</h2>
                <div class="inner_padding">
                  <ul class="list">
                    <li>
                      <p>
                        He/She will be able to build computer vision
                        applications using OpenCV and Tensorflow.
                      </p>
                      <ul class="sublist">
                        <li><p>Face Recognition</p></li>
                        <li><p>Age Estimation</p></li>
                        <li><p>Facial Expression Recognition</p></li>
                      </ul>
                    </li>
                    <li>
                      <p>
                        He/She will be able to Natural Language Processing using
                        NLTK and Tensorflow.
                      </p>
                      <ul class="sublist">
                        <li><p>Sentiment Classification</p></li>
                        <li><p>SMS Spam Classification</p></li>
                      </ul>
                    </li>
                    <li>
                      <p>
                        He/She will be able to build machine learning and deep
                        learning models for image and text related dataset.
                      </p>
                    </li>
                    <li><p>He/She will deploy the AI model in Mobile.</p></li>
                    <li>
                      <p>
                        He/She will deploy the AI application in IOT devices
                        like Raspberry Pi or Jetson Nano
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 holder">
              <mat-card class="curriculum-card">
                <h2>Course Curriculum</h2>
                <hr />

                <owl-carousel-o [options]="customOptions">
                  <ng-container>
                    <ng-template carouselSlide>
                      <div class="course-curriculum-holder">
                        <div class="inner_padding">
                          <ul class="list">
                            <li>
                              <p>1) What is Machine Learning</p>
                            </li>
                            <li>
                              <p>
                                2) Crash Course of Python Programming (10 hours)
                              </p>
                            </li>
                            <li>
                              <p>
                                3) Getting Started with AI environment setup
                              </p>
                            </li>
                            <li>
                              <p>
                                4) Computer vision and image processing basics
                              </p>
                              <ul class="sublist">
                                <li>
                                  <p>Loading, Displaying and saving Images.</p>
                                </li>
                                <li><p>Drawing Operations.</p></li>
                                <li><p>Basic Image Processing</p></li>
                                <li><p>Kernals</p></li>
                                <li><p>Morphological Operations</p></li>
                                <li><p>Smoothing & blurring</p></li>
                                <li><p>Thresholding</p></li>
                                <li><p>Gradient &Edge Detection</p></li>
                                <li><p>Contours</p></li>
                                <li><p>Histograms</p></li>
                              </ul>
                            </li>
                            <li>
                              <p>5) Image descriptors</p>
                              <ul class="sublist">
                                <li>
                                  <p>Color Channel Statistics</p>
                                </li>
                                <li><p>Color Histograms</p></li>
                                <li><p>Haralick Texture</p></li>
                                <li><p>Local Binary Patterns</p></li>
                                <li><p>HOG</p></li>
                                <li><p>Key Point detection</p></li>
                              </ul>
                            </li>
                            <li>
                              <p>
                                6) He/She will deploy the AI application in IOT
                                devices like Raspberry Pi or Jetson Nano
                              </p>
                            </li>
                          </ul>
                          <span class="page">Page 1</span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="course-curriculum-holder">
                        <div class="inner_padding">
                          <ul class="list">
                            <li>
                              <p>
                                1) Image classification and machine learning
                                algorithms
                              </p>
                              <ul class="sublist">
                                <li>
                                  <p>K-Nearest Neighbors</p>
                                </li>
                                <li><p>Logistic Regression</p></li>
                                <li><p>Support Vector Machines</p></li>
                                <li><p>Support Vector Machines</p></li>
                                <li><p>Decision Trees</p></li>
                                <li><p>Random Forest</p></li>
                                <li><p>Thresholding</p></li>
                                <li><p>K means Clustering</p></li>
                              </ul>
                            </li>
                            <li>
                              <p>2) Computer Vision case studies</p>
                              <ul class="sublist">
                                <li>
                                  <p>Object tracking in video</p>
                                </li>
                                <li><p>Human detection</p></li>
                                <li><p>Face detection and recognition</p></li>
                                <li><p>Drowsiness Detection</p></li>
                                <li><p>OCR</p></li>
                                <li><p>Text Segmentation</p></li>
                                <li><p>Sound Analysis</p></li>
                                <li><p>And much more…</p></li>
                              </ul>
                            </li>
                          </ul>
                          <span class="page">Page 2</span>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="holder" id="feedback">
                <h2>Student Feedback</h2>
                <div class="inner_padding">
                  <div class="row padding" *ngFor="let review of reviews">
                    <div class="col-lg-1">
                      <div class="userFrame">
                        <div class="userNameTag">
                          {{ review.tagname }}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-10">
                      <div class="feedBackDetails">
                        <h3>{{ review.name }}</h3>
                        <p>
                          <span *ngIf="review.rating == 3.5">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faHalfStar"></fa-icon>
                          </span>
                          <span *ngIf="review.rating == 4">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                          </span>
                          <span *ngIf="review.rating == 4.5">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faHalfStar"></fa-icon>
                          </span>
                          <span *ngIf="review.rating == 5">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                          </span>
                          <span style="margin-left: 10px"
                            >{{ review.date }} &nbsp;&nbsp;&nbsp;
                            {{ review.time }}</span
                          >
                        </p>
                        <p class="comments">
                          {{ review.comments }}
                        </p>
                        <hr />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4"> -->
        <!-- <mat-card class="enrollCard">
          <div class="mat-info-older">
            <h4>Enroll to get notified on similar Programs</h4>
            <button
              *ngIf="!isenroll"
              class="home-btn"
              type="button"
              (click)="isEnroll()"
            >
              Enroll
            </button>
            <div class="form-holder" *ngIf="isenroll">
              <form>
                <mat-form-field class="" appearance="outline">
                  <mat-label>Full name</mat-label>
                  <input
                    type="text"
                    name="name"
                    matInput
                    placeholder=""
                    value=""
                    ngModel
                    #name="ngModel"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    type="email"
                    name="email"
                    matInput
                    placeholder=""
                    value=""
                    ngModel
                    #name="ngModel"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="" appearance="outline">
                  <mat-label>Mobile number</mat-label>
                  <input
                    type="text"
                    name="number"
                    matInput
                    placeholder=""
                    value=""
                    ngModel
                    #name="ngModel"
                    required
                  />
                </mat-form-field>
                <button class="home-btn" type="submit">Submit</button>
                <button
                  class="home-btn margin-left"
                  type="button"
                  (click)="isEnroll()"
                >
                  Cancel
                </button>
              </form>
            </div>
          </div>
        </mat-card> -->
        <!-- </div> -->
      </div>
    </div>
  </mat-card>
</section>
