<section id="services">
  <div class="container-fluid">
    <div class="header main">
      <h1 class="heading">
        <h1>SERVICES <span>OFFERED</span></h1>
      </h1>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <img src="../../assets/img/RD.jpg" class="img-fluid" />
        <div class="overlay">
          <div class="hover">
            <h2>R & D services</h2>
            <!-- <button class="home-btn">Learn more</button> -->
          </div>
          <div class="onhover">
            <p>
              We expedite engineering across the product ecosystem. We help our
              customers improve Time to Profit by maximizing Return on
              Innovation(R0I).
            </p>
            <p>Our scope of R&D services can be classified as:</p>
            <ul>
              <li>
                <p>a) Consumer Electronics</p>
              </li>
              <li>
                <p>b) Semiconductor</p>
              </li>
              <li>
                <p>c) IoT, AL/ML, AR/VR</p>
              </li>
              <li>
                <p>d)Embeded Systems, Device Drivers/GUI</p>
              </li>
              <li>
                <p>e) Automotive and healthcare</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <img style="height: 100%; width: 100%" src="../../assets/img/Sd.jpg" class="img-fluid" />
        <div class="overlay">
          <div class="hover">
            <h2>Skill Development Programme</h2>
            <!-- <button class="home-btn">Learn more</button> -->
          </div>
          <div class="onhover">
            <p>
              The Government of India aiming to provide adequate training in
              market relevant skills to over 40 Crore youth by the end of the
              year 2022. We join hand with this mission by offering
              well-structured skill development programs to school, college
              going students and to the working professionals. We always dream
              of eliminating the gap between requirement and supply with respect
              to the job market.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <img style="height: 100%; width: 100%" src="../../assets/img/cc.jpg" class="img-fluid" />
        <div class="overlay">
          <div class="hover">
            <h2>Career Counselling Services</h2>
            <!-- <button class="home-btn">Learn more</button> -->
          </div>
          <div class="onhover">
            <p>
              We have expert Career Counsellors, who assess your aptitude,
              personality, interests, and other aspects of you. They use this
              evaluation to suggest the best career options from all the
              available and relevant options.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <img src="../../assets/img/proof.jpg" class="img-fluid" />
        <div class="overlay">
          <div class="hover">
            <h2>Engineering Process Outsourcing (EPO)</h2>
            <!-- <button class="home-btn" (click)="onClick()">Learn more</button> -->
          </div>
          <div class="onhover">
            <p>
              New devices and products are being introduced faster than
              consumers and the market can keep up with them. As a result,
              companies in the consumer electronics sector feel the pressure to
              innovate and create “smart” products for differentiation. We offer
              an efficient and reliable EPO Section, which shorten the product
              lifecycle and bring the necessary technology and expertise to help
              companies achieve competitive advantage.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <img src="../../assets/img/hr.jpg" class="img-fluid" />
        <div class="overlay">
          <div class="hover">
            <h2>HR consultancy</h2>
            <!-- <button class="home-btn">Learn more</button> -->
          </div>
          <div class="onhover">
            <p>
              IQmetrics Solution is a boutique, retained, executive search firm. Dedicated to excellence and timeliness
              of results, we employ a proven methodology in the execution of engagements for top executive hires and
              rare functional specialists.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <img src="../../assets/img/remote.jpg" class="img-fluid" />
        <div class="overlay">
          <div class="hover">
            <h2>Digital Printing Services</h2>
            <!-- <button class="home-btn">Learn more</button> -->
          </div>
          <div class="onhover">
            <p>
              We have experienced segment people and machineries to bring you
              customised gift items, gift box, label printing and cutting, id
              cards printing solutions etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>