<mat-card id="navbar" data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1000"
  [class.white-nav-top]="white_nav">
  <mat-toolbar>
    <a class="image" [routerLink]="['/']"><img src="../../assets/img/logo.png" /></a>
    <ul class="nav" [class.navDetails]="navDetailss">
      <li>
        <p>Computer Vision, Machine and Deep Learning</p>
        <p>
          Rating :
          <a>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faHalfStar"></fa-icon>
          </a>
          <span style="font-size: 8px">(18)</span>
        </p>
      </li>
    </ul>
  </mat-toolbar>
</mat-card>