<section class="home-section">
  <app-navbar></app-navbar>
  <app-header></app-header>
  <app-about-us></app-about-us>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <owl-carousel-o [options]="customOptions" id="images">
          <ng-container>
            <ng-template carouselSlide>
              <div class="corousel-holder">

                <div class="col-md-7 col-sm-12 image-holder cert">
                  <img src="../../assets/img/international_trade_council.jpg">
                </div>
                <div class="col-md-5 col-sm-12 text-holder">
                  <div class="inner-paddding">
                    <p>IQmetrics Solutions Pvt. Ltd. is certifed as "Quality in Business" by International Trade
                      Council
                      (Washington, DC) for implementing quality in its business.</p>
                  </div>
                  <!-- <div class="button-holder">
                          <span class="left-button">
                            <fa-icon [icon]="faPrev"></fa-icon>
                          </span>
                          <span class="right-button">
                            <fa-icon [icon]="faNext"></fa-icon>
                          </span>
                        </div> -->
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <div class="corousel-holder">

                <div class="col-md-7 col-sm-12 image-holder">
                  <img src="../../assets/img/talk.jpg">
                </div>
                <div class="col-md-5 col-sm-12 text-holder">
                  <div class="inner-paddding">
                    <p>Co-Founder Mr. Padma Prasada has delivered invited talk on "Academic Projects &
                      Empolyability" at Shri Madhva Vadhiraja Institute of Technology and Management, bantakal.
                    </p>
                  </div>
                  <!-- <div class="button-holder">
                          <span class="left-button">
                            <fa-icon [icon]="faPrev"></fa-icon>
                          </span>
                          <span class="right-button">
                            <fa-icon [icon]="faNext"></fa-icon>
                          </span>
                        </div> -->
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <div class="corousel-holder">

                <div class="col-md-7 col-sm-12 image-holder">
                  <img src="../../assets/img/1.jpg">
                </div>
                <div class="col-md-5 col-sm-12 text-holder">
                  <div class="inner-paddding">
                    <p>Ministry of Micro, Small and Medium Enterprises (MSME) Approval Certificate.
                    </p>
                  </div>
                  <!-- <div class="button-holder">
                          <span class="left-button small-but">
                            <fa-icon [icon]="faPrev"></fa-icon>
                          </span>
                          <span class="right-button small-but">
                            <fa-icon [icon]="faNext"></fa-icon>
                          </span>
                        </div> -->
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <div class="corousel-holder">

                <div class="col-md-7 col-sm-12 image-holder">
                  <img src="../../assets/img/startupIndia.jpg">
                </div>
                <div class="col-md-5 col-sm-12 text-holder">
                  <div class="inner-paddding">
                    <p>Recognised by Startup India (Ministry of Commerce and Industry).
                    </p>
                  </div>
                  <!-- <div class="button-holder">
                          <span class="left-button small-but">
                            <fa-icon [icon]="faPrev"></fa-icon>
                          </span>
                          <span class="right-button small-but">
                            <fa-icon [icon]="faNext"></fa-icon>
                          </span>
                        </div> -->
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <div class="corousel-holder">

                <div class="col-md-7 col-sm-12 image-holder">
                  <img src="../../assets/img/3.JPG">
                </div>
                <div class="col-md-5 col-sm-12 text-holder">
                  <div class="inner-paddding">
                    <p>Co-Founder Mr. Padma Prasada has delivered invited talk on "Academic Projects &
                      Empolyability" at Shri Madhva Vadhiraja Institute of Technology and Management, bantakal.
                    </p>
                  </div>
                  <!-- <div class="button-holder">
                          <span class="left-button">
                            <fa-icon [icon]="faPrev"></fa-icon>
                          </span>
                          <span class="right-button">
                            <fa-icon [icon]="faNext"></fa-icon>
                          </span>
                        </div> -->
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <div class="corousel-holder">

                <div class="col-md-7 col-sm-12 image-holder">
                  <img src="../../assets/img/7.jpg">
                </div>
                <div class="col-md-5 col-sm-12 text-holder">
                  <div class="inner-paddding">
                    <p>Conducted Awarness Program on "Interent of Things and its Applications" to the students of
                      Vidhyadiraja Polytechnic College, Kumta, North Karnataka.
                    </p>
                  </div>
                  <!-- <div class="button-holder">
                          <span class="left-button">
                            <fa-icon [icon]="faPrev"></fa-icon>
                          </span>
                          <span class="right-button">
                            <fa-icon [icon]="faNext"></fa-icon>
                          </span>
                        </div> -->
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>